@using PC.Models;
@model List<MemberModel>
@{
    ViewBag.Title = "Index";
}
<br/>
<div>
    <a class="btn btn-info" href="/Member/Index">Add Member</a>
</div>
<h2>Members</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Premium</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MemberModel member in Model)
        {
        <tr>
            <td>
                @member.FirstName
            </td>
            <td>
                @member.LastName
            </td>
            <td>
                @member.Age
            </td>
            <td>
                @member.Gender
            </td>
            <td>
                @member.Premium
            </td>
        </tr>
        }
    </tbody>
</table>

